#wrapper {
  border: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.robo {
  border: 2px solid black;
  width: 200px;
  margin-top: 10px;
}

p {
  margin-left: 5%;
}

form {
  height: 50px;
  text-align: center;
}

input {
  font-size: 2em;
  margin-top: 15px;
}
