<!DOCTYPE html>

<head>
  <link rel = 'stylesheet' href = 'style.css'>
</head>

<body>

  <form method='post' action='/jobless'>
    <input type='submit' value='employed'>
  </form>

<div id='wrapper'>
{{ #display }}

  <div class='robo'>

    <img src = {{avatar}}>
    <p class = 'name'> {{ name }} </p>
    <p> {{job}} </p>
    <p> {{company}} </p>

  </div>

{{ /display }}
</div>

</body>
